<% layout('layouts/boilerplate')%>
  <div class="col-12 mt-3 mb-3 d-flex justify-content-between">
    <h4 class="text-uppercase"><i class="fas fa-users-cog mr-1"></i>Data Olahraga</h4>
    <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary"><i
        class="fas fa-plus mr-1"></i>Tambah Olah Raga</a>



    <!-- Modal Tambah data -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><i class="fas fa-plus mr-1"></i>Tambah Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- form tambah asamurat -->
            <form method="POST" action="/olahraga">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nama Olahraga</label>
                <input type="text" name="name" class="form-control" id="recipient-name" required>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <select class="custom-select" name="jenis" required>
                    <option value="" selected >--Jenis--</option>
                    <option value="gdarah_tinggi">gula darah tinggi</option>
                    <option value="gdarah_rendah">gula darah rendah</option>
                    <option value="asam_urat">asam urat</option>
                    <option value="kolestrol">kolestrol</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Deskripsi</label>
                <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="9"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="reset" value="reset"><i
                class="fas fa-sync-alt mr-1"></i>Reset</button>
            <button class="btn btn-success"><i class="fas fa-save mr-1"></i>Simpan</button>
          </div>
          </form>
        </div>
      </div>
    </div>


  </div>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      Daftar Data Asam Urat
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm table-bordered table-striped text-center" id="dataTable" width="100%" cellspacing="0">
          <thead class="table-info">
            <tr>
              <th class="p-3">No.</th>
              <th class="p-2">Nama Olahraga</th>
              <th class="p-2">Jenis</th>
              <th class="p-2">Deskripsi</th>
              <th class="p-2">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% let nomor=1; for(let olahraga of olahragas){ %>
              <tr class="table-active">
                <td class="p-2 align-middle">
                  <%= nomor++ %>
                </td>
                <td class="p-2 align-middle">
                  <%= olahraga.name %>
                </td>
                <td class="p-2 align-middle">
                  <%= olahraga.jenis %>
                </td>
                <td class="p-2 text-left align-middle">
                  <%= olahraga.description %>
                </td>
                <td class="d-flex p-3 justify-content-center align-items-center">
                  <a class="btn btn-warning mr-1" href="/olahraga/<%= olahraga.id %>/edit"><i class="fas fa-edit"></i></a>
                  <form method="POST" action="/olahraga/<%= olahraga.id %>?_method=DELETE">
                    <button class="btn btn-danger" onclick="return confirm('Apakah yakin ingin menghapus data ini?')"><i
                        class="fas fa-trash-alt"></i></button>
                  </form>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>