<% layout('layouts/boilerplate')%>
  <div class="col-12 mt-3 mb-3 d-flex justify-content-between">
    <h4 class="text-uppercase"><i class="fas fa-user-cog mr-1"></i>Data Kolestrol</h4>
    <a href="/konsultasi" class="btn btn-secondary"><i class="fas fa-arrow-left mr-1"></i>Kembali</a>
  </div>

  <% for(let user of users){ %>
    <div class="card mb-4 d-flex flex-column justify-content-center">
      <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Input Data Konsultasi Kolestrol
      </div>

      <form class="col-sm-12" method="POST" action="/konsultasi/kolestrol/<%=user.id%>?_method=GET">
        <div class="form-group row">
          <label for="inputnama" class="col-sm-2 col-form-label">Nama</label>
          <div class="col-sm-10">
            <input type="text" name="user[nama_user]" type="hidden" value="<%= user.nama_user %>" class="form-control" id="inputnama" readonly="readonly" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputnama" class="col-sm-2 col-form-label">Usia</label>
          <div class="col-sm-10">
            <input type="text" name="user[usia]" value="<%= usia %>" class="form-control" id="inputnama" readonly="readonly" required>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="inputnama" class="col-sm-2 col-form-label">Golongan Darah</label>
          <div class="col-sm-10">
            <input type="text" name="user[gol_darah]" value="<%= user.gol_darah %>" class="form-control" id="inputnama" readonly="readonly" required>
          </div>
        </div>
     
        <div class="form-group row">
          <label for="inputnama" class="col-sm-2 col-form-label">Jenis Kelamin</label>
          <div class="col-sm-10">
            <input type="text" name="user[jkel]" value="<%= user.jkel %>" class="form-control" id="inputnama" readonly="readonly" required>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="inputnama" class="col-sm-2 col-form-label">Kadar Kolestrol</label>
          <div class="col-sm-10">
            <input type="number" name="user[kolestrol]" class="form-control" min="0" max="300" step="1" id="inputnama" placeholder="0" required>
          </div>
        </div>
        <div class="form-group d-flex flex-row-reverse">
          <button class="btn btn-success ml-1">Konsultasi</button>
          <button class="btn btn-primary" type="reset" value="reset"><i class="fas fa-sync-alt mr-1"></i>Reset</button>
        </div>

      </form>
      <% } %>
    </div>